@import '@shared/styles/variables';

.wrapper {
    overflow: hidden;
    font-size: 20px;
    font-weight: bold;
    color: $blue;

    &:hover {
        color: $blueHovered;
    }
}

.hiddenBlock {
    position: absolute;
    top: 0;
}

.char {
    display: inline-block;
}

.relativeBlock {
    position: relative;
}
