@import '@shared/styles/variables';

.cardContent {
    padding: 40px;
    overflow: scroll;
    margin-top: 0;
    height: fit-content;

    @media (max-width: $mobileBreakpoint) {
        margin-top: 20px;
        padding: 0;
    }

    @media (max-width: $tabletBreakpoint) and (min-width: $mobileBreakpoint) {
        padding: 0;
    }
}
